.container{
    width: 80%;
    margin: auto;
}
.container_1{
    width: 80%;
    margin: auto;
}
.header-top{
    background-color: #169FCC;
    min-height: 80px;
}
.nav_con{
    background-color: #169FCC;
    min-height: 80px;
}
.academic_sec{
    background-color: #169FCC;
    min-height: 500px;
}
.flex{
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
}
.con{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin: 1px;

}
img{
    height: 50px;
    width: 50px;
}
.row{
    display: flex;
}
.col-1{
    width: 8.3333333%; 
    border: solid 1px black;
    min-height: 50px;
}
.col-2{
    width: 16.66666667%;
    border: solid 1px black;
    min-height: 50px;
}
.col-3{
    width: 25%;
    border: solid 1px black;
    min-height: 50px;
}
.col-4{
    width: 33.33333%;
    border: solid 1px black;
    min-height: 50px;
}
.col-5{
    width: 41.66666667%;
    border: solid 1px black;
    min-height: 50px;
}
.col-6{
    width: 50%;
    border: solid 1px black;
    min-height: 50px;
}
.col-12{
    width: 100%;
    border: solid 1px black;
    min-height: 50px;
}
.justify-center{
    justify-content: center;
}
.wrap-wrap{
    flex-wrap: wrap;
}
.col{
    margin-top: 10px;
    margin-right: 40px;
    min-height: 30px;
}
